
/* Your CSS Code here. */

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1{
    margin: 40px;
}
#calculator {
    width : 300px;
    height : 540px ;
    border: 5px solid #19010a;
    background-color: #9c1478;
    border-radius: 20px;
    padding: 10px 15px;
    box-shadow : 0 0 10px rgba(3, 3, 3, 0.9);

}
#top{
    display: flex;
    justify-content: center;
    align-items: center;
}
#input {
    width: 200px;
    margin: 10px;
    margin-left: 2px !important;
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
    border-radius: 5px;
}

button {
    width: 70px;
    height: 55px;
    font-size: 1.2em;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #0eb1f1;
}

button:active {
    background-color: #00ff08;
    box-shadow: 0 1px #666;
    transform: scale(1.04);
  }

#ans {
    background-color: #4caf50;
    color: white;
}

#clr {
    background-color: #f44336;
    color: white;
    width: 50px !important;
    height: 50px !important;
}

@media only screen and (max-width: 480px) {
    #calculator{
        width : 250px;
        height : 540px ;
    }
    #input{
        width: 160px;
        height: 30px;
    }
    h1{
        font-size: 20px;
    }
}